.mainWidth{
		width: 1205px;
		margin: 0 auto;
	}
	/* tips */
	.m-tip-box{
		width: auto;
		background-color: #f3f3f3;	
	}
	.m-tips{
		height: 38px;
		font-size: 12px;
		color: #333333;
		line-height: 38px;
	}
	.m-tips-more{
		color:#21a557;
	}
	/* head */
	.g-head{
		height: 89px;
	}
	.m-logo1{
		font:bolder 28px/89px "Gill Sans MT";
		color: #39a030;
	}
	.m-logo2{
		font:22px/89px "Hiragino Sans GB";
		color: #333333;
	}
	/* follow */
	.m-follow{
		font:12px/89px "SimSun";
	}
	.m-follow .btn{
		color: #ffffff;
		background-color:#39a030; 
	}
	/* head-nav */
	.m-head-nav{
		font:16px/89px  "Hiragino Sans GB";
	}
	.m-head-nav a{
		color: #666666;
	}
	.m-head-nav a:hover{
		color: #39a030;
	}
	/* banner */
/* 单片式幻灯-默认淡入淡出  */
.m-slide{
	position:relative;
	width:width: 100%;
	height:460px;
	overflow:hidden;
}
.m-slide ol,.m-slide li{position:absolute;top:0;left:0;width:100%;height:100%;z-index:20;}
.m-slide li{
	left: 50%;
  	position: absolute;
 	-webkit-transform:translate(-50%);
 	-moz-transform:translate(-50%);
 	-o-transform:translate(-50%);
 	transform:translate(-50%);
	 }
.m-slide li{
	opacity:0;
	-webkit-transition:0.5s ease-out;
	-moz-transition:0.5s ease-out;
	-ms-transition:0.5s ease-out;
	transition:0.5s ease-out;
	-webkit-transition-property:opacity,left,top;
	-moz-transition-property:opacity,left,top;
	-ms-transition-property:opacity,left,top;transition-property:opacity,left,top;
}
.m-slide li.z-crt{
	z-index:21;
	opacity:1;
}
/* 多点式幻灯指示控制器-默认底部居中 */
.u-pointer{
	position:absolute;
	bottom:10px;
	left:0;
	width:100%;
	z-index:50;
	text-align:center;
	line-height:0;
}
.u-pointer i{
	display:inline-block;
	*display:inline;
	*zoom:1;width:10px;
	height:10px;
	overflow:hidden;
	margin:0 0 0 5px;
	border-radius:50%;
	box-shadow:inset 0 1px 0 rgba(0,0,0,0.5);
	cursor:pointer;background:#ffffff;
}
.u-pointer i.first{margin-left:0;}
.u-pointer i:hover{background:#999;}
.u-pointer i.z-crt{background:#333333;}
	/* WebSiteShowRegion */
	.m-websiteshow{
		height: 175px;
		margin: 60px auto;
	}
	.m-websiteshow .showzone{
		margin-left: 60px;
	}
	.m-websiteshow .showzone img{
		margin-top: 6px;
	}
	.m-websiteshow .info{
		margin-left: 100px;
	}
	.m-websiteshow h2{
		margin-bottom: 14px;
		font:22px/20px "微软雅黑";
		color: #333333;
	}
	.m-websiteshow p{
		margin-bottom: 28px;
		font:14px/24px "微软雅黑";
		color: #666666;
	}
	.m-websiteshow a{
		font:14px/24px "微软雅黑";
		color: #39a030;
	}
	.m-websiteshow a:hover{
		color: #39a030;
		text-decoration: underline;
	}
	/* PicShowRegion */
	.m-picshow{
		position:relative;
		width: 100%;
		height: 220px;
		overflow: hidden;
	}
	/* main */
	.g-mn{
		width: auto;
		height: 1420px;
		padding-top: 70px;
		background-color: #f8f8f8;
	}
	.m-tab{
		width: 980px;
	}

/* m-course */
.m-course { margin-bottom: 120px; }
/*.m-course-container { margin-right: 223px; }*/
.m-course-tabs { display: inline-block; margin-bottom: 30px; height: 50px; font-size: 0; box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); }
.m-course-tabs li { display: inline-block; width: 200px; height: 100%; font-size: 20px; color: #666; text-align: center; line-height: 50px; }
.m-course-tabs li.active { color: #fff; background-color: #39a030; }

/*#m-course-item-tpl, #hotList-item-tpl { display: none; }*/

.m-course-item { position: relative; float: left; width: 225px; height: 228px; margin: 0 20px 20px 0; box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); }
.m-course-item:hover .m-course-item-details { opacity: 1; z-index: 2; }

.m-course-item-default { display: block; }

.m-course-img { display: block; width: 223px; height: 124px; margin: 1px auto 0; }

.m-course-title { margin: 0 5px; font-size: 12px; color: #333; line-height: 32px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.m-course-tearcher, .m-course-price { display: block; margin-left: 5px; font-size: 12px; color: #999; }

.m-course-num, .m-course-num-border { display: inline-block; height: 16px; padding: 0 4px 0 18px; margin: 10px 5px; background: url(../img/icon.png) no-repeat 3px -95px; font-size: 12px; color: #666; line-height: 16px; }

.m-course-num-border { border: 1px solid #ddd; border-radius: 2px; }

.m-course-price { color: #ff3f00; }

.m-course-item-details { position: absolute; left: -10px; top: -10px; z-index: -1; width: 480px; height: 240px; background-color: #fff; box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4); opacity: 0; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -ms-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s; }
.m-course-item-details .m-course-img { float: left; margin: 11px 0 0 11px; }
.m-course-item-details .m-course-item-l { margin-left: 252px; }
.m-course-item-details .m-course-title { margin-left: 0; font-size: 18px; font-weight: normal; line-height: 48px; }
.m-course-item-details .m-course-title a { color: #333; }
.m-course-item-details .m-course-num, .m-course-item-details .m-course-num-border { margin: 0; margin-bottom: 7px; }
.m-course-item-details .m-course-publisher, .m-course-item-details .m-course-class { display: block; font-size: 12px; color: #666; line-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.m-course-item-details .m-course-publisher a, .m-course-item-details .m-course-class a { color: inherit; }
.m-course-item-details .m-course-text { position: absolute; bottom: 0; height: 82px; width: 100%; padding: 16px 22px; background-color: #f8f8f8; line-height: 25px; font-size: 14px; color: #666; box-sizing: border-box; }
.m-course-item-details .m-course-text p { width: 100%; height: 100%; overflow: hidden; }

.m-course-pages { padding: 0 20px; text-align: right; font-size: 0; }
.m-course-pages .pages-item, .m-course-pages .pages-prev, .m-course-pages .pages-next, .m-course-pages .zdot { display: inline-block; padding: 4px 8px; margin: 0 4px; font-size: 12px; color: #333; line-height: 1; }
.m-course-pages .pages-item:hover, .m-course-pages .pages-item.active, .m-course-pages .pages-prev, .m-course-pages .pages-next { background-color: #9dd8b1; color: #fff; }

.m-course-side { float: right; width: 223px; padding-top: 80px; }
.sideBox { width: 223px; margin-bottom: 20px; -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); -ms-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); -o-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); }

.sideBox-title { height: 55px; padding: 0 20px; border-bottom: 1px solid #ddd; font-size: 16px; color: #333; line-height: 55px; }

.infoVideo { padding: 20px; font-size: 14px; color: #666; }
.infoVideo p { margin-bottom: 8px; }

.hotList-wrap { margin-top: 20px; height: 700px; overflow: hidden; }

.hotList { position: relative; top: 0; padding: 0 20px; -webkit-transition: top 0.4s; -moz-transition: top 0.4s; -ms-transition: top 0.4s; -o-transition: top 0.4s; transition: top 0.4s; }

.hotList-item { height: 50px; padding-bottom: 20px; }

.hotList-img { float: left; width: 50px; height: 50px; }

.hotList-r { margin-left: 60px; }

.hotList-title { font-size: 14px; color: #333; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-weight: normal; }
.hotList-title a { color: inherit; }

.hotList .m-course-num, .hotList .m-course-num-border { margin: 12px 0 0 0; }
	/* foot */
	.g-ft{
		width: auto;
		height: 262px;
		background-color: #2c3339;
	}
	/* 此处margin需要微调 */
	.g-ftlf{
		margin: 95px 0 0 53px; 
	}
	.g-ftlf .m-logo{
		margin-bottom: 22px;
	}
	.g-ftlf .m-logo2{
		color: #39a030;
		line-height: 20px;
	}
	.g-ftlf .m-logo1{
		line-height: 20px;
	}
	.m-cprt{
		font:12.5px/25px "微软雅黑";
		color: #ffffff;
	}
	.g-ftrt{
		margin-right: 110px;
	}
	/* 此处margin需要微调 */
	.g-ftrt dl{
		display: block;
		float: left;
		margin:80px 97px 0 0;
	}
	.g-ftrt dt{
		font:12.5px/29.17px "微软雅黑";
		color: #ffffff;
	}
	.g-ftrt dd a{
		font:14.58px/29.17px "微软雅黑";
		color: #ffffff;
	}
	.g-ftrt dd a:hover{
		font:14.58px/29.17px "微软雅黑";
		color: #ffffff;
		text-decoration: underline;
	}